@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #1f2937;
}
nav, header, section {
    padding: 0 200px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}

.navbar {
    display: flex;
    height: 62px;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;    
}

.discover {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    gap: 20px;
}

.discover .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.boxes {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 92px;
}

.boxes .container {
    justify-content: space-evenly;
}

.box {
    max-width: 180px;
}

.logo img {
    max-width: 50px;
    max-height: auto;
    border-radius: 30px;
}

img {
    max-width: 100%;
    max-height: auto;
}

.img {
    max-width: 500px;
    max-height: auto;
    border-radius: 6px;
}

.imgbox {
    border-radius: 12px;
    border: 4px solid #4622fe;
    cursor: pointer;
    outline: none;
    transition:all 1s;

}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;
    text-align: center;
    padding-bottom: 50px;
}

button {
    padding: 12px 18px;
    color: #F9FAF8;
    background: #4622fe;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #5635ff radial-gradient(circle, transparent 1%, #5635ff 1%) center/15000%;
}

.ripple:active {
    background-color: #6244f8;
    background-size: 100%;
    transition: background 0s;
}

p, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #E5E7EB;
}

a:hover, a:active {
    font-size: 104%;
}

.box p {
   color: #68717d;
   text-align: center;
   padding: 8px 0;
}

.imgbox:hover {
    transform: scale(1.1); 
}
